<%- include("../partials/adminpartials/adminHeader.ejs") %>

    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/productlist">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/addProduct">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Add product</span>
                </a>
            </li>

            <li class="menu-item active">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-list_alt"></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/users">
                    <i class="icon material-icons md-people"></i>
                    <span class="text">Users</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/Categories">
                    <i class="icon material-icons md-layers"></i>
                    <span class="text">Categories</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupon Management</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/offer">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Offer Management</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" disabled href="/admin/sales-report">
                    <i class="icon material-icons md-insert_chart"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li>
        </ul>
        <br />
        <br />
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orderData && orderData.length > 0) { %>
                                    <% orderData.forEach((order, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><b><%= order.shippingAddress.name %></b></td>
                                            <td><%= order.userId.email %></td>
                                            <td>₹ <%= order.totalAmount %></td>
                                            <td><span class="badge rounded-pill alert-warning"><%= order.orderStatus %></span></td>
                                            <% const options = { weekday: 'short', day: 'numeric', month: 'short' }; 
                                                const formattedDate = new Date(order.createdAt).toLocaleDateString('en-US', options); %>
                                            <td><%= formattedDate %></td>
                                            <td class="text-end">
                                                <a href="/admin/order-detail?orderId=<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <!-- dropdown //end -->
                                            </td>
                                            
                                        </tr>
                                    <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6" class="text-center">Order Not Found</td>
                                        </tr>
                                    <% } %>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </section>

