<%- include("../partials/adminpartials/adminHeader.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/productlist">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/addProduct">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Add product</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-list_alt"></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li class="menu-item active">
                <a class="menu-link" href="/admin/users">
                    <i class="icon material-icons md-people"></i>
                    <span class="text">Users</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/Categories">
                    <i class="icon material-icons md-layers"></i>
                    <span class="text">Categories</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupon Management</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/offer">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Offer Management</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" disabled href="/admin/sales-report">
                    <i class="icon material-icons md-insert_chart"></i>
                    <span class="text">Sales Report</span>
                </a>
            </li>
        </ul>
        <br />
        <br />
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">All Customers</h2>
        </div>
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Users</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Joined At</th>
                                <!-- <th class="text-end">Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(function(user) { %>
                            <tr>
                                <td width="40%">
                                    <a href="#" class="itemside">
                                        <div class="left">
                                            <img
                                                src="/assets/imgs/people/avatar-1.png"
                                                class="img-sm img-avatar"
                                                alt="Userpic" />
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title"><%= user.name
                                                %></h6>
                                            <small class="text-muted">User ID:
                                                <%= user._id %></small>
                                        </div>
                                    </a>
                                </td>
                                <td><%= user.email %></td>
                                <td>
                                    <% if (user.isBlocked == true) { %>
                                    <button
                                        onclick="toggleBlocking(this,'<%= user._id %>',true)"
                                        class="btn btn-md rounded font-sm"
                                        style="background-color: green;"
                                        id="statusBt">
                                        Unblock
                                    </button>
                                    <% } else { %>
                                    <button
                                        onclick="toggleBlocking(this,'<%= user._id %>',false)"
                                        class="btn btn-md rounded font-sm"
                                        style="background-color: #ff0000;"
                                        id="statusBt">
                                        Block
                                    </button>

                                    <% } %>
                                </td>
                                <% function formatDate(date) { 
                                    const options = { 
                                        weekday: 'short', 
                                        year: 'numeric',
                                        month: 'short', 
                                        day: 'numeric', 
                                        hour: 'numeric', 
                                        minute: 'numeric', 
                                        hour12: true,
                                    };
                                    return new Intl.DateTimeFormat('en-US', options).format(new Date(date)); 
                                } %>
                                
                                <td><%= formatDate(user.createdAt) %></td>
                                <!-- <td class="text-end">
                                    <a href="/admin/userDetails"
                                        class="btn btn-sm btn-brand rounded font-sm mt-15">View
                                        details</a>
                                </td> -->
                            </tr>
                            <% }); %>
                        </tbody>

                    </table>
                    <!-- table-responsive.// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>"><i class="material-icons md-chevron_left"></i></a>
                    </li>
                    <% } %>
    
                    <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
    
                    <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage + 1 %>"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </section>
    <!-- content-main end// -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
    function toggleBlocking(tag, userId,state) {
        const button = document.getElementById('statusBt')
        const status = tag.textContent.trim();
        console.log(1)
        Swal.fire({
            title: "<span style='color: black;'> Are you sure?</span>",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#ff0000",
            cancelButtonColor: "#d33",
            confirmButtonText: `Yes, ${status} user!`,
            coustomClass: {
                popup: "swal2-popup-custom-color"
            }
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire({
                title: `<span style='color: black'> ${status}ed! </span>`,
                text: `user is ${status}ed`,
                icon: "success"
              });

              if (status == "Block"){
                tag.textContent = "Unblock"
                tag.style.backgroundColor = "green"
                tag.style.color = "white"
                }else{
                tag.textContent = "Block"
                tag.style.backgroundColor = "red"
                tag.style.color = "white"

                }

              axios.put(`/admin/blockUser?id=${userId}&state=${state}`)
                .catch(Error => {
                    console.log(Error);
                })
            }
        });
    }
</script>

    <%- include("../partials/adminpartials/adminFooter") %>