<%- include("../partials/userpartials/header.ejs")  %>

    <!-- registration -->

    <div class="wrapper" style="background-image: url('images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="images/registration-form-1.jpg" alt="">
            </div>
            <form method="post">
                <h3>Registration Form</h3>
                <!-- <div class="form-group">
                    <input type="text" placeholder="First Name" class="form-control">
                    <input type="text" placeholder="Last Name" class="form-control">
                </div> -->
                <% if(typeof messageUsername !== "undefined"){ %>
                    <p style="color: red;"> <%= messageUsername %></p>
                <% } %>
                <div class="form-wrapper">
                    <input type="text" placeholder="Username" name="username" class="form-control">
                    <i class="zmdi zmdi-account"></i>
                </div>
                <% if(typeof messageEmail !== "undefined"){ %>
                    <p style="color: red;"> <%= messageEmail %></p>
                <% } %>
                <div class="form-wrapper">
                    <input type="text" placeholder="Email Address" name="email" class="form-control">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <% if(typeof messagePassword !== "undefined"){ %>
                    <p style="color: red;"> <%= messagePassword %></p>
                <% } %>
                <div class="form-wrapper">
                    <input type="password" placeholder="Password" name="password" class="form-control" >
                    <i class=" fa fa-fw fa-eye-slash toggle-password" id="togglePassword1"></i>
                </div>
                <% if(typeof messagePasswordConfirm !== "undefined"){ %>
                    <p style="color: red;"> <%= messagePasswordConfirm %></p>
                <% } %>
                <div class="form-wrapper">
                    <input type="password" placeholder="Confirm Password"  name="psconfirm" class="form-control">
                    <i class="fa fa-fw fa-eye-slash toggle-password" id="togglePassword2"></i>
                </div>
                <div class="form-wrapper">
                    <!-- <label class="form-check ml-4">
                        <input type="checkbox" class="form-check-input" checked="" />
                        <span>Agree to <a href="#">Terms & Condition</a></span>
                    </label> -->
                </div>
                <button class="logButton" type="submit" style="background-color: #8c5d77;">Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>

                <p class="text-center mb-4 mt-4">Already have account? <a href="/login" style="color: #8c5d77;">Sign in</a></p>

            </form>
        </div>
    </div>


    <script>
        document.querySelectorAll('.toggle-password').forEach(item => {
            item.addEventListener('click', function() {
                const inputField = this.previousElementSibling;
                const fieldType = inputField.getAttribute('type') === 'password' ? 'text' : 'password';
                inputField.setAttribute('type', fieldType);
                this.classList.toggle('fa-eye-slash');
                this.classList.toggle('fa-eye');
            });
        });
    </script>

    <style>
        .eye {
            cursor: pointer;
        }
    </style>

<%- include("../partials/userpartials/footer.ejs")  %>